<h1>Welcome</h1>


<% if logged_in? %>
  <h2>You are Logged In, <%= current_user.username %></h2>
  <%= button_to "Logout", '/logout', method: :delete%>
<%end%>
<br /><br />

<table>
  <tr>
    <td><%= button_to "Login", '/login', method: :get%></td>
    <td> | </td>
    <td><%= button_to "Sign Up", '/users/new', method: :get%></td>
  </tr>
</table>